header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
  }
  
  header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header .inner1 h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 50px; /* Add margin-left property */
  
  }
  
  header .inner1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
  
  
  /* 유틸리티 메뉴 스타일 */
  .util {
    list-style: none;
    display: flex;
    align-items: center;
      
  }
  
  .util li {
    margin-right: 40px;
  }
  
  .util a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* 로그인 버튼 스타일 */
   #userMenu img {
      
      transition: background-color 0.3s;
      background-color: whitesmoke;
      max-width: 8%;
      max-height: 7%;
      border-radius: 100%
      
  }
  
  #userMenu a {
      position: relative;
      top: -15px;
      color: white; 
  }